// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@font-face {font-family:Avenir; src:url("/fonts/Avenir.ttc"); font-weight:medium;font-syle:normal;}

body {
	width: 100%;
	text-align: left;
	color: $primary-color;
	font-family: $font-family-sans-serif;
	word-wrap: break-word;
	margin: 0px;
	background-color: white;
}

.logo {
	width: 220px;
}

a {
	color: $primary-color;
}

a:hover {
    color: #333230;
    text-decoration: none;
    font-weight: bold;
}

p { 
	color: $primary-color;
	font-size: 0.85rem;
}

.interested {
    display: none !important;
    visibility: hidden !important;
}

// Header
.topbar a {
    font-weight: 400;
}

.topbar--menu a {
	font-size: 0.7rem;
    margin-right: 1rem;
}

.topbar--icons a {
	font-size: 0.9rem;
    margin-left: 0.4rem;
}

.navbar-nav li a {
	font-size: 0.75rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    font-weight: normal;
	cursor: pointer;
	color: $primary-color;
	letter-spacing: 0.03rem;
} 

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.8rem;
        padding-left: 0.8rem;
    }
}


// Forms
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $primary-light-grey;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $primary-light-grey;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $primary-light-grey;
}

// Carousel
.owl-carousel .text-container {
    margin-left: 6%;
    max-width: 600px;
    bottom: 12%;
}

.owl-carousel .text-container .text-light {
    color: white;
}

.owl-carousel .text-container .text-dark {
    color: #3e2d1d;
}

.owl-carousel .text-container img {
    width: auto;
}

.owl-carousel .text-container h2, 
.owl-carousel .text-container h4, 
.owl-carousel .text-container p {
	font-weight: bold;
	text-align: left;
}

.owl-carousel .text-container .title {
    margin: 1rem 0;
}

.owl-carousel .text-container h2 {
    letter-spacing: .02rem;
}

.owl-carousel .text-container  h4 {
    font-size: 0.85rem;
    letter-spacing: .02rem;
    margin: 0;
}

.owl-carousel .text-container .btn-border-full {
    font-size: 0.75rem;
    border: 1px solid;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: .03rem;
    padding: .4rem;
}

.owl-theme .owl-dots{
  margin: 10px;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 30px;
}

.owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
}

.owl-theme .owl-dots .owl-dot span {
   background: none repeat scroll 0 0 $primary-light-grey;
   display: block;
   height: .2rem;
   margin: 5px 6px;
   width: 2rem;
}

.owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span {
  background: white;
}

.owl-carousel .owl-nav img {
    width: 18px;
}

.owl-novelties-ft.owl-theme .owl-dots {
  position: relative;
}

.caption {
    width: 100%;
    text-align: center;
    font-size: 0.85rem;
    margin-top: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.caption-sub {
    width: 100%;
    text-align: center;
    font-size: 0.7rem;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
}

// Menu mobile header
.menu_mobile_fixed {
	position: fixed;
    background-color: white;
	padding-top: 10px;
	padding-bottom: 10px;
    z-index: 3;
    display: flex;
    align-items: center;
}

.menu_mobile_fixed .icon-bar {
	width: 22px;
	background-color: black !important;
	height: 1px !important;
	display: block;
}

.navbar-toggle {
    position: relative;
    float: left;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-toggle.collapsed .top-bar {
    width: 22px;
}
.navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
    width: 14px;
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 6px;
}

.menu_mobile {
    position: fixed;
    height: 100vh;
    width: 0px;
    background-color: white;
    z-index: 3;
    transition: width .8s;
    -webkit-transition: width .8s;
    overflow: hidden;
    white-space: nowrap;
}

.new_menu_open {
    padding: 0.5rem;
    cursor: pointer;
    font-size: 0.75rem;
}

.close-menu {
    border: 1px solid $primary-color;
    border-radius: 5px;
    padding: .3rem .8rem;
}

// All Products

.section-bg-latte {
    background-color: $bg-light-pink;
    color: white;
}

h2 {
    font-weight: normal;
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
}

.btn-border-full {
    border: 1px solid #332e2a;
}

.btn-get-price {
    margin-top: 1rem;
    font-size: 0.7rem;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: .03rem;
    padding: .3rem 0.5rem;
}

// Footer
.footer h6 {
    letter-spacing: .03rem;
}

.footer {
	background-color: $footer-bg;
	color: white;
}

.footer .ft-col ul {
    padding: 0;
    font-size: .75rem;
    letter-spacing: .03rem;
}

.footer .ft-col ul li {
	list-style-type: none;
}

.footer .ft-col ul li a, .footer .ft-col ul li a:hover {
    color: white;
}

.footer .form_subscribe_ft {
    border: 1px solid white;
    align-items: center; 
    display:flex;
}

.footer .form-control {
    width: 100%;
    height: 1.8rem;
    color: #fff;
    border: none;
    background-color: transparent;
    padding: .2rem;
    font-size: .75rem;
}

.footer .form-control ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
  .footer .form-control  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  .footer .form-control ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }

.footer button {
    border: none;
    background-color: transparent;
    color: white;
    width: auto;
    box-shadow: none;
}

// Modal
.modal {
    width: 40%;
    padding: 15px 30px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0 0 10px #000;
    -moz-box-shadow: 0 0 10px #000;
    -o-box-shadow: 0 0 10px #000;
    -ms-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
    text-align: left;
  }

  .modal h1{
    color: #3c312d;
    font-size: 27px;
    letter-spacing: 2px;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    margin: 18px 0px 0px 0px;
    text-align: center;
  }
  
  .modal h3{
    color: #3c312d;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: normal;
    padding: 0px 5px 0px 0px;
    margin: 6px 0px 18px 0px;
    text-align: center;
  }

  .modal .input-block {
    margin: 0px 0px 26px;
    width: 100%;
  }
  
  .modal .input-block-half {
    margin: 0px 0px 26px;
    width: 46%;
  }
  
  .modal span{
    margin: 0px;
    color: #81807e;
    line-height: 22px;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1px;
    float: left;
  }
  
  .modal input {
    width: 100%;
    height: 24px;
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 22px;
    color: #3c312d;;
    background-color: #FFFFFF;
    border-top: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #b9b9b9;
  }
  
  .modal select {
    width: 100%;
    height: 24px;
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 22px;
    color: #3c312d;;
    background-color: #FFFFFF;
    border-top: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #b9b9b9;
  }
  
  .modal textarea {
    width: 100%;
    min-height: 50px;
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 0px;
    margin-top: 4px;
    padding: 0px 4px 0px 4px;
    color: #3c312d;;
    background-color: #FFFFFF;
    border-top: 1px solid #b9b9b9;
    border-right: 1px solid #b9b9b9;
    border-left: 1px solid #b9b9b9;
    border-bottom: 1px solid #b9b9b9;
  }
  
  .modal button[type=submit] {
    width: 100%;
    font-size: 13px;
    letter-spacing: 3px;
    font-weight: bold;
    padding: 8px 0px 7px 0px;
    margin: 10px 0px;
    border-color: #3c312d;
    color: #3c312d;
  }

  .modal button[type=submit]:hover {
    background-color: #3c312d;
    color: #ffffff;
  }

  .modal a.close-modal {
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    background: url(/img/icons/forms/close-icon.png) no-repeat 0 0;
}

.modal input.name { background: url('/img/icons/forms/person-icon.png') 0px center no-repeat; }
.modal input.email { background: url('/img/icons/forms/email-icon.png') 0px center no-repeat; }
.modal input.phone { background: url('/img/icons/forms/phone-icon.png') 0px center no-repeat; }
.modal select.country { background: url('/img/icons/forms/country-icon.png') 0px center no-repeat; -webkit-appearance: none;
  -moz-appearance: none;}
.modal input.city { background: url('/img/icons/forms/city-icon.png') 0px center no-repeat; }
.modal input.company { background: url('/img/icons/forms/occupation-icon.png') 0px center no-repeat; }
.modal select.occupation { background: url('/img/icons/forms/occupation-icon.png') 0px center no-repeat; -webkit-appearance: none;
  -moz-appearance: none;}
/**
 * PARSLEY
 * ----------------------------------------------------------------------------
 */
ul.parsley-errors-list {
  list-style-type: none;
  padding: 4px 0px 0px;
  font-size: 10px;
  letter-spacing: 1px;
  color: $primary-light-grey;
  font-weight: bold;
}



/*==================================================
=            Bootstrap Media Queries             =
==================================================*/


/*==========  Mobile First Method  ==========*/

// Extra small devices (portrait phones, less than 576px)
@media only screen and (max-width: 575.98px) {
    #main-slide {
        padding-top: 60px;
    }
    .owl-carousel .text-container h2 {
        font-size:1.1rem;
        letter-spacing: 0rem;
    }
    .owl-carousel .text-container img.img_logo {
        width: 120px;
    }
    .footer {
        text-align: center;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 576px) {
    #main-slide {
        padding-top: 60px;
    }
    .owl-carousel .text-container h2 {
        font-size:1.1rem;
        letter-spacing: 0rem;
    }
    .owl-carousel .text-container img.img_logo {
        width: 120px;
    }
    .footer {
        text-align: center;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
    #main-slide {
        padding-top: 0px;
    }
    .owl-carousel .text-container h2 {
        letter-spacing: 0.02rem;
    }
    .owl-carousel .text-container img.img_logo {
        width: 150px;
    }
    .footer {
        text-align: left;
    }
    
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1799px) {
}



