// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@font-face {font-family:Avenir; src:url("/fonts/Avenir.ttc"); font-weight:medium;font-syle:normal;}

body {
	width: 100%;
	text-align: left;
	color: $primary-color;
	font-family: $font-family-sans-serif;
	word-wrap: break-word;
	margin: 0px;
	background-color: white;
}

.logo {
	width: 220px;
}

a {
	color: $primary-color;
}

p { 
	color: $primary-color;
	font-size: 0.85rem;
}

// Header
.topbar a {
    font-weight: 400;
    letter-spacing: 0.03rem;
}

.topbar--menu a {
	font-size: 0.72rem;
    margin-right: 1rem;
}

.topbar--icons a {
	font-size: 0.9rem;
    margin-left: 0.4rem;
}

.navbar-nav li a {
	font-size: 0.8rem;
    padding: 0.5rem;
    font-weight: normal;
	cursor: pointer;
	color: $primary-color;
	letter-spacing: 0.03rem;
} 

// Forms
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $primary-light-grey;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $primary-light-grey;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $primary-light-grey;
}

// Carousel
.owl-carousel .text-container {
	top: 0;
	color: #FFFFFF;
	margin-left: 9%;
	max-width: 540px;
	margin-top: 25%;
}

.owl-carousel .text-container h2, .owl-carousel .text-container h4, .owl-carousel .text-container p {
	font-weight: bolder;
	color: #FFFFFF;
	text-align: left;
}

.owl-carousel .text-container h2 {
	font-family: 'RalewayBolder', sans-serif;
	font-size: 1.6rem;
	letter-spacing: 4px;
    margin-bottom: 0;
}

.owl-carousel .text-container h4 {
	font-family: 'RalewayMedium', sans-serif;
	font-size: 1rem;
	letter-spacing: 4px;
    margin-bottom: 0;
}

.owl-carousel .text-container div {
	font-family: 'RalewayMedium', sans-serif;
	font-size: 0.9rem;
	letter-spacing: 2px;
	border-bottom: 1px solid #FFFFFF;
	display: inline-block;
	text-transform: uppercase;
    margin-top: 20px;
}

.owl-theme .owl-dots{
  margin: 10px;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 30px;
}

.owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
}

.owl-theme .owl-dots .owl-dot span {
   background: none repeat scroll 0 0 #ffffff;
   border: 1px solid #29544d;
   border-radius: 20px;
   display: block;
   height: 14px;
   margin: 5px 6px;
   width: 14px;
}

.owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span {
  background: #29544d;
}

.owl-carousel .owl-nav img {
    width: 18px;
}

.owl-novelties-ft.owl-theme .owl-dots {
  position: relative;
}

// Media Queries
@media (max-width: 320px)  {

}

@media (max-width: 576px) {

}

@media (min-width: 1460px) {

}



